a.nav-link {
    text-transform: uppercase !important;
}
.navbar-area {
    background-color: white;
}
.not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
  }
  