.chon__bo__de {
    width: 200px;

    select {
        display: block !important;
    }

    margin-left : 10px;
    margin-right: 10px;
}

.on__thi {
    button {
        padding: 5px 15px !important;
    }
}